Repository cloudposse/terraform-aws-ecs-codepipeline, pull requests merged in 2024-05, with the labels that each got.

#135 Update GitHub workflows
  .github/workflows/feature-branch.yml
  .github/workflows/release-branch.yml
  .github/workflows/scheduled.yml
Labels: auto-update, no-release, migration

#136 Update GitHub Workflows to Fix ReviewDog TFLint Action
  .github/workflows/feature-branch.yml
Labels: auto-update, no-release, migration

#137 Update GitHub Workflows to use shared workflows from '.github' repo
  .github/workflows/branch.yml
  .github/workflows/chatops.yml
  .github/workflows/feature-branch.yml
  .github/workflows/release-published.yml
  .github/workflows/release.yml
  .github/workflows/scheduled.yml
Labels: auto-update, no-release, migration

#131 Feature/add build type
  README.md
  docs/terraform.md
  main.tf
  variables.tf
Labels: patch

#130 updating deprecated docker image
  examples/complete/fixtures.us-east-2.tfvars
  examples/complete/variables.tf
  variables.tf
Labels: no-release

#138 Update release workflow to allow pull-requests: write
  .github/workflows/release.yml
Labels: auto-update, no-release, migration
